.splash-container{
  background: url('https://res.cloudinary.com/deeptailor/image/upload/v1491372128/sema/sema-splash.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Balthazar', serif;
}

.splash-overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Balthazar', serif;
  color: white;
  font-size: 84px;
  position: relative;
  bottom: 200px;
}

.splash-form{
  padding: 40px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nickname{
  width: 260px;
  height: 40px;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px 0;
}

.enter-chat-button{
  width: 131px;
  height: 42px;
  background: #00ff3d;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*chat*/

.chat-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-messages{
  width: 100%;
  height: 90%;
  overflow: scroll;
}

.chat-input-container{
  display: flex;
  height: 10%;
  width: 100%;
  font-size: 24px;
}

.chat-input{
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid gray;
  font-size: 24px;
}

.chat-submit{
  width: 10%;
  background: #00ff3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
