#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/*Splash*/

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.splash-container{
  background: url('https://res.cloudinary.com/deeptailor/image/upload/v1491372128/sema/sema-splash.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.splash-colors{
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, lime 14.28%, cyan 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-animation: 'slide' 50s infinite linear forwards;
}

.splash-overlay{
  width: 100%;
  height: 100%;
  background: rbga(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-inner-container {
  display:flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-navbar {

}

.splash-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 5%;
  right: 0%;
  width: 100vw;
  /*border:1px solid white;*/
}

.splash-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  width: 300px;
  margin-right: 50px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  /*border: 1px solid white;*/
}

.splash-buttons div{
  text-align: center;
  position: relative;
  padding-bottom: 3px;
}

.splash-buttons div:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: 0;
   left: 0;
   background: white;
   visibility: hidden;
   border-radius: 5px;
   transform: scaleX(0);
   transition: .25s linear;
}

.splash-buttons div:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.splash-buttons div:hover {
  cursor: pointer;
}

.splash-header h1 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 68px;
  position: relative;
  left: 5%;
  padding-bottom: 20px;
}

.splash-header h1:hover {
  cursor: default;
}


.splash-form{
  width: 300px;
  height: 100px;
  padding: 40px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:40%;
}

.nickname {
  position: relative;
  width: 250px;
  height: 40px;
  background: rgba(255,255,255,0.2);
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgba(240,240,240,0.8);
}

.nickname::-webkit-input-placeholder {
  font-size: 16px;
  text-align: center;
  color: rgba(250,250,250,0.7);
}

.enter-chat-button {
  width: 40px;
  height: 36px;
  border: 2px solid rgba(0,0,0,0.4);
  background: rgba(0,0,0,0.2);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.enter-chat-button:hover {
  cursor: pointer;
  background-color: #00ff3d;
  border: 2px solid #00ff3d;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

/*chat*/

.chat-outer-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://res.cloudinary.com/deeptailor/image/upload/v1491372128/sema/sema-splash.jpg');
  background-position: center;
  background-size: cover;
}

.chat-container{
  width: 800px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.chat-messages{
  display: block;
  width: 100%;
  height: 90%;
  padding: 10px 5px;
  box-sizing: border-box;
  overflow-y: scroll;
  border-radius: 10px 10px 0 0;
  background: #eeeeee;
  text-align: center;
}

.chat-bubble-container{
  display: inline-block;
  padding: 5px;
  color: white;
  width: 90%;
  min-height: 30px;
  text-align: left;
}

.chat-bubble{
  display: inline-block;
  float: left;
  max-width: 33%;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  border: solid white;
  clear: both;
  overflow: scroll;
}

.chat-bubble h1{
  color: #003bb1;
  margin-bottom: 5px;
}

.chat-bubble p{
  width: 100%;
  display: flex;
  flex-shrink: 1;
}

.own-message .chat-bubble{
  border-radius: 10px 0 10px 10px;
  background: #ddeed5;
  float: right;
}

.own-message .chat-bubble h1{
  display: none;
}

.bot-message{
  text-align: center;
}

.bot-message .chat-bubble{
  background: #a0d6ff;
  border-radius: 10px 10px 10px 10px;
  float: none;
}

.bot-message .chat-bubble p{
  display: flex;
  justify-content: center;
}

.bot-message .chat-bubble h1{
  display: none;
}

.chat-input-container{
  display: flex;
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.7);
  border-radius: 0 0 10px 10px;
}

.chat-input{
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.chat-submit{
  width: 80px;
  border: 2px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.4);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 20px;
  padding-right: 5px 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-submit:hover{
  cursor: pointer;
}


/*Media*/

@media (orientation: portrait){

  .splash-header {
      display:flex;
      flex-direction: column;
  }
  .splash-header h1 {
    left:0;
    font-size: 80px;
  }
  .splash-buttons {
    margin: 0;
    font-size: 26px;
  }

  .chat-outer-container{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }

  .chat-container{
    width: 100vw;
    height: 90vh;
    box-sizing: padding-box;
  }

<<<<<<< HEAD
  .chat-bubble{
    max-width: 60%;
  }

  .chat-input[type="text"]{
    font-size: 1em;
  }
=======
>>>>>>> 678b7f275fa15329d608dd6f5700ca757e530c4a
}
